@import "../public/assets/styles/bootstrap.css";
@import "primeicons/primeicons.css";

body {
  font-weight: lighter;
}

.full-bg {
  background-image: url("../public/assets/images/bg-main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 770px) {
  .hide-mobile {
    display: none;
    visibility: hidden;
  }

  .show-mobile {
    display: block;
    visibility: visible;
  }
  .full-bg {
    background-image: url("../public/assets/images/bg-main.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
  }
}
@media (min-width: 760px) {
  .hide  {
    display: none;
    visibility: hidden;
  }
  .show {
    display: block;
    visibility: visible;
  }
}

