@import "../public/assets/styles/bootstrap.css";
@import "primeicons/primeicons.css";

body {
  font-weight: lighter;
}

.full-bg {
  background-image: url("../public/assets/images/loginbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

@media (max-width: 760px) {
  .hide-mobile {
    display: none;
    visibility: hidden;
  }

  .show-mobile {
    display: block;
    visibility: visible;
  }
}
@media (min-width: 760px) {
  .hide  {
    display: none;
    visibility: hidden;
  }
  .show {
    display: block;
    visibility: visible;
  }
}

